body {
  background-color: lightgrey;
  margin: 0;

  box-sizing: border-box;
}

#navBarTop{
  border: 1px solid black;
  overflow: hidden;

  background-color: #1f4489;
  display: flex;
  flex-direction: row;

  padding: 0.5em;
  justify-content: space-around;
  align-items: center;
}

#logo{
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #693e36;
  font-size: 2em;
  font-weight: 500;
  color: #fcb900;
}

#searchBar{
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 0.15em;
}

#searchButton {
  border: 1px solid black;
  background-color: #fcb900;
  color: #32373c;
  font-size: 15px;
  margin: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.3rem;
  cursor: pointer;
}